.git
.codex

.env
.env.*
!.env.example
auth.json

vendor/
node_modules/

public/build/
public/hot
public/storage

bootstrap/cache/*.php

storage/*.key
storage/logs/*
storage/pail
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/debugbar/*

database/database.sqlite

.phpunit.result.cache
.phpunit.cache

.DS_Store
Thumbs.db

.fleet
.idea
.nova
.vscode
.zed
.phpactor.json

Homestead.json
Homestead.yaml

docker-compose.override.yml

Desktop/
scripts/

create_user.php
setup_user.php
reset_test_user.php

*.log
